<!DOCTYPE html>
<html>
    <head>
        <title>Add Notes</title>
        <style>
      .error {
        color: red;
      }
        </style>
    </head>
    <body>
        <h2>Add Notes</h2>
        <p>
            <a href="{% url 'notes:index' %}">Home</a>
        </p>
        {% if errors %}
            {% for error in errors %}<p class="error">{{ error }}</p>{% endfor %}
        {% endif %}
        <form action="{% url 'notes:add' %}" method="post">
            {% csrf_token %}
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" />
            <br />
            <br />
            <label for="description">Description:</label>
            <textarea name="description" id="description"></textarea>
            <br />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
